<!-- <div ng-controller="cliente-controller"> -->
<html>
<head>
	<meta charset="UTF-8" />
</head>
<div>
	
	<label>Código</label>
	<br />
	<input type="text" ng-model="cliente.id" readonly="readonly" />

	<br />
	<label>Nome</label>
	<br />
	<input type="text" ng-model="cliente.nome" />
	
	<input type="button" ng-click="salvarCliente()" value="Salvar" />
	<input type="button" ng-click="alterarCliente(cliente)" value="Alterar" />
	<input type="button" ng-click="cancelarAlteracaoCliente()" value="Cancelar" />
	<input type="button" ng-click="limparCliente()" value="Limpar" />
	<br />
	<br />
	<table>
		<tr ng-repeat="cliente in clientes">
			<td>{{cliente.id}}</td>
			<td>{{cliente.nome}}</td>
			<td><button ng-click="deletarCliente(cliente)">Excluir</button></td>
			<td><button ng-click="prepareAterarCliente(cliente)">Editar</button></td>
			<td><a href="/clientes/{{cliente.id}}">Detalhe</button></td>
		</tr>
	</table>
	
</div>
</html>